/* Styling for Heading */
#title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Your Chosen Font', sans-serif;
}

/* Styling for Subheading */
#description {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
  font-family: 'Your Chosen Font', sans-serif;
}

/* Styling for the form container */
#survey-form {
  text-align: center;
  margin: 0 auto;
  background-color: silver;
  width: 40%;
  padding: 45px;
}

/* Margin for labels within the firstBlock */
#firstBlock label {
  margin: 10px auto;
}

/* Additional CSS for form elements (input, select, radio, checkbox) if needed */
#firstBlock input,
#dropdown,
#ro,
input[type="checkbox"],
textarea {
  margin: 10px auto;
}

/* Styling for input boxes */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 5px;
  margin: 2.5px 0;
  border: 0.5px solid #ccc;
  border-radius: 2.5px;
  font-size: 12px;
  color: #333;
  outline: none;
}

/* Add a hover effect for input boxes */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  border-color: #666;
}

/* Add a focus effect for input boxes */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border-color: #007bff; /* Change to your preferred focus color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow when focused */
}

hr {
  border: none;
  height: 1px; /* Adjust the height as needed */
  background: linear-gradient(to right, transparent, #211e1e, transparent); /* Fading effect */
  margin: 10px auto; /* Center the horizontal rule and provide separation */
}

/* Styling for the button */
#submit {
  padding: 10px 20px; /* Adjust the padding as needed */
  background-color: #fff; /* #submit background color */
  color: #000; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
}

/* Add a hover effect for the button */
button:hover {
  background-color: #0056b3; /* Change to a darker shade for the hover effect */
}

/* Add a focus effect for the button */
button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow when focused */
}